{% extends 'base.html' %}

{% block title %}Edit Post post['id']{% endblock %}

{% block content %}
<h1>Editar el Post {{ post['id'] }}</h1>
<form method="post">
    <div class="form-group">
        <label for="tittle">Titulo</label>
        <input type="text" id="tittle" name="tittle"
               placeholder="Post tittle" class="form-control"
               value="{{ post['tittle'] }}">
    </div>
    <div class="form-group">
        <label for="content">Contenido</label>
        <textarea id="content" name="content"
                  placeholder="Post content" class="form-control">{{ post['content'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </div>
</form>
{% endblock %}